:root {
  --sides-padding: 5%;
  --elements-gap: 20px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Inter";
}
a {
  text-decoration: none;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
  font-weight: bold;
}
h3 {
  font-size: 0.85rem;
  font-weight: 400;
  color: gray;
}
p {
  font-size: 1rem;
  color: gray;
}

p b {
  font-weight: bold;
  color: black;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
#root,
#__next {
  isolation: isolate;
}
html,
body {
  color: black;
  background-color: white;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeQuality;
  shape-rendering: geometricPrecision;
  scroll-behavior: smooth;
  overflow-x: hidden;
  line-height: normal;
}

/* Styles reset */

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background-color: #faf8f3;

  padding-top: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.logo p {
  color: #00acee;
  font-weight: bold;
  font-style: italic;
}

.menu {
  display: flex;
  align-items: center;
  gap: var(--elements-gap);
}

.signIn-button {
  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;

  background-color: #00acee;

  gap: var(--elements-gap);
  padding: var(--elements-gap);
  border-radius: 5px;
}

.signIn-button:hover {
  cursor: pointer;
}

.signIn-button p {
  color: white;
  font-weight: 600;
}

main {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.usp-wrapper {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;

  background-color: #faf8f3;

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.headline {
  display: flex;
  flex-direction: column;

  gap: var(--elements-gap);
}

.headline b {
  color: #2d7796;
  font-weight: bold;
}

.connect-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: var(--elements-gap);
}

.connect-wrapper a p {
  color: #2d7796;
  font-weight: bold;
}

.users {
  position: relative;
  display: flex;
}

.user-image {
  margin-left: -22.5px;
}

.hero-image {
  display: block;
}

.hero-image img {
  content: url("Assets/Hero Image (Desktop View).png");
}

.features-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.feartures {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: var(--elements-gap);
}

.feature-card {
  display: flex;
  flex-direction: column;
  width: auto;

  padding: var(--elements-gap);
  gap: var(--elements-gap);
  border: 1px solid lightgray;
  border-radius: 5px;
}

.customer-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

  background-color: rgb(221, 244, 245);

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.customers {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

  gap: var(--elements-gap);
}

.customer-card {
  display: flex;
  flex-direction: column;
  height: min-content;

  background-color: white;

  padding: var(--elements-gap);
  gap: var(--elements-gap);
  border-radius: 15px;
}

.customer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.bio {
  display: flex;
  align-items: center;

  gap: var(--elements-gap);
}

.bio img {
  width: 64px;
  height: auto;
}

.bio-logo {
  width: 24px;
  height: auto;
}

.customer-name {
  display: flex;
  flex-direction: column;
}

.likes-date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.like {
  display: flex;
  align-items: center;

  gap: calc(var(--elements-gap) / 2);
}

.like img {
  width: 24px;
  height: auto;
}

.price-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.price-wrapper .section-header {
  display: flex;
  flex-direction: column;
  text-align: center;

  gap: var(--elements-gap);
}

.price-card {
  display: flex;
  flex-direction: column;

  background-color: rgb(251, 248, 243);

  gap: var(--elements-gap);
  padding: var(--elements-gap);
  border: 2px solid rgb(250, 169, 10);
  border-radius: 10px;
}

.price-value {
  display: flex;
  align-items: baseline;
}

.plan-benefits {
  display: flex;
  flex-direction: column;

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  border-top: 1px solid rgb(115, 115, 115);
  border-bottom: 1px solid rgb(115, 115, 115);
}

.plan-benefits li {
  display: flex;
  align-items: center;
  list-style-type: none;

  gap: var(--elements-gap);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;

  background-color: rgb(221, 244, 245);

  gap: var(--elements-gap);
  padding-top: var(--elements-gap);
  padding-bottom: var(--elements-gap);
  padding-left: var(--sides-padding);
  padding-right: var(--sides-padding);
}

.footer-menu {
  display: flex;
  align-items: center;
  gap: var(--elements-gap);
}

footer p {
  color: black;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .hamburger-menu {
    display: flex;
  }

  .menu {
    display: none;
  }
}

@media (min-width: 768px) {
  :root {
    --sides-padding: 5%;
    --elements-gap: 20px;
  }

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  h3 {
    font-size: 0.85rem;
    font-weight: 400;
    color: gray;
  }
  p {
    font-size: 1rem;
    color: gray;
  }

  .hero-image img {
    content: url("Assets/Hero Image (Tablet View).png");
  }

  .connect-wrapper {
    flex-direction: row;
  }

  .hamburger-menu {
    display: none;
  }

  .menu {
    display: flex;
  }

  footer {
    flex-direction: row;
  }

  .customer-wrapper {
    padding-right: 0;
  }

  .customers {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }

  .customer-card {
    flex: 0 0 50%;
    scroll-snap-align: start;
  }
}

@media (min-width: 1024px) {
  :root {
    --sides-padding: 15%;
    --elements-gap: 20px;
  }

  .hero-image {
    max-width: 40%;
  }

  .hero-image img {
    content: url("Assets/Hero Image (Desktop View).png");
  }

  .usp-wrapper {
    flex-direction: row;
    width: 100%;
  }

  .feartures {
    grid-template-columns: repeat(2, 1fr);
  }

  .connect-wrapper {
    flex-direction: row;
  }

  .customer-wrapper {
    padding-right: var(--sides-padding);
  }

  .customers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    overflow-x: hidden;
  }
}
